.gradle
.DS_Store
.idea
build/
local.properties
localhost/
obj/
*.iml
Gemfile.lock
_site/

# Kotlin 2.0
# https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin
