# Copyright (c) Facebook, Inc. and its affiliates.

#
# GENERAL CONFIG
#
version: 2.1
orbs:
  android: circleci/android@2.5.0

commands:
  run-tests:
    steps:
      - run:
          name: Run Tests
          command: ./gradlew test assembleDebug -PdisablePreDex
  run-instrumentation-tests:
    steps:
      - run:
          name: Run Instrumentation Tests
          command: |
            ./gradlew :samples:showcase:connectedInternalInstrumentationAndroidTest -PdisablePreDex
  copy-results:
    steps:
      - run:
          name: Copy Results
          command: |
            mkdir -p /home/circleci/test-results/junit
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} /home/circleci/test-results/junit \;

jobs:
  build:
    environment:
      TERM: 'dumb'
    executor:
      name: android/android-machine
      tag: 2021.10.1
      resource-class: large
    steps:
      - checkout
      - android/accept-licenses
      - android/restore-gradle-cache:
          cache-prefix: v1a
      - android/create-avd:
          avd-name: testAVD
          install: true
          system-image: system-images;android-29;default;x86
      - android/start-emulator:
          avd-name: testAVD
          no-window: true
          restore-gradle-cache-prefix: v1a
      - android/wait-for-emulator
      - run-tests
      - android/save-gradle-cache:
          cache-prefix: v1a
      - copy-results
      - store_test_results:
          path: /home/circleci/test-results

workflows:
  build:
    jobs:
      - build
