PROJECT_NAME = TurboJPEG
PROJECT_NUMBER = 1.2.1
OUTPUT_DIRECTORY = doc/
USE_WINDOWS_ENCODING = NO
OPTIMIZE_OUTPUT_FOR_C = YES
WARN_NO_PARAMDOC = YES
GENERATE_LATEX = NO
FILE_PATTERNS = turbojpeg.h
HIDE_UNDOC_MEMBERS = YES
VERBATIM_HEADERS = NO
EXTRACT_STATIC = YES
JAVADOC_AUTOBRIEF = YES
MAX_INITIALIZER_LINES = 0
ALWAYS_DETAILED_SEC = YES
HTML_TIMESTAMP = NO
