---
sectionid: docs
---

{% include header-kr.html %}

<section class='content'><div class='width'>

{% include nav_docs-kr.html %}

<article class='withtoc'>
    <h1>
      {{ page.title }}
      <a class="edit-page-link" href="https://github.com/facebook/fresco/tree/gh-pages/{{ page.path }}" target="_blank">깃허브에서 편집하기</a>
    </h1>
    <p>{{ page.description }}</p>

    {{ content }}

    <div class="docs-prevnext">
      {% if page.prev %}
        <a href="/docs-kr/{{ page.prev }}#_">&larr; 이전</a>
      {% endif %}
      {% if page.next %}
        <a class="right" href="/docs-kr/{{ page.next }}#_">다음 &rarr;</a>
      {% endif %}
    </div>

    <a id="_"></a>
</article>

</div></section>
{% include footer.html %}
