---
sectionid: docs
---

{% include header-cn.html %}

<section class='content'><div class='width'>

{% include nav_docs-cn.html %}

<article class='withtoc'>
    <h1>
      {{ page.title }}
      <a class="edit-page-link" href="https://github.com/facebook/fresco/tree/gh-pages/{{ page.path }}" target="_blank">编辑和纠错</a>
    </h1>
    <p>{{ page.description }}</p>

    {{ content }}

    <div class="docs-prevnext">
      {% if page.prev %}
        <a href="/docs-cn/{{ page.prev }}#_">&larr; 上一页</a>
      {% endif %}
      {% if page.next %}
        <a class="right" href="/docs-cn/{{ page.next }}#_">下一页 &rarr;</a>
      {% endif %}
    </div>

    <a id="_"></a>
</article>

</div></section>
{% include footer.html %}
